<h1>ログインアプリ</h1>
<p>ログインしています</p>
<p>ようこそ、<%= current_user.name %>さん</p>
<%= link_to "ユーザー一覧", users_index_path %><br>
<%= link_to "本の一覧へ", books_path %><br>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %><br>
